@model IEnumerable<NoteKeeper.Web.Models.DTO.NotesDTOs.NoteGetDTO>
@{
    ViewBag.Title = $"Note Keeper";
}


<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h2>Hello, @User.Identity.Name!</h2>
        </div>
        <div class="col-md-4 text-end">
            <a asp-action="Create" class="btn btn-primary">Create Note</a>
        </div>
    </div>

    <hr />

    <div class="container mt-4">
        <div class="row">
            @foreach (var note in Model)
            {

                <div class="col-md-4 mb-3">
                    <div class="card shadow-sm rounded h-100">
                        <div class="card-header d-flex justify-content-between align-items-center" style="background-color:@note.Color">
                            <h5 class="mb-0">@note.Title</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">@note.NoteContent</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center text-muted">
                            <span>@note.CreatedAt.ToString("dddd, d MMMM, yyyy h:mm tt")</span>
                            <div>
                                <a asp-controller="Note" asp-action="Update" asp-route-id="@note.Id" class="btn btn-sm btn-warning me-2">Edit</a>
                                <form asp-action="Delete" asp-route-id="@note.Id" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this note?');">
                                    <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Count() == 10)
            {
                <div class="row mt-3">
                    <div class="col text-center">
                        <a href="#" class="btn btn-primary">All Notes</a>
                    </div>
                </div>
            }
        </div>
    </div>




